*{
    margin: 0;
    padding: 0;

}

/* GOOGLEFONTS */
body{
    font-family: 'Martel Sans', sans-serif;
}

.main_container{
    justify-content: center;
    background-color: #FBFBFB;
    text-align: center;
    
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    margin-right: 265px;
    margin-bottom: 4.5%;
    }
    
    .logo img{
        width:55px;
        gap: 15px;
    }
    
    .logo p{
        color: #1F2226;
        font-size: 32.5px;
        font-weight: bold;
    }

    .header{
        text-align: center;
        margin-bottom: 3.5%;
    }
    
    .header h1{
        color: #3B3B3B;
        font-size: 90px;
      
      }
        
    
    .header h2{
        color: #B7B0DD;
        font-size: 55.5px;
        font-weight: lighter;
    
    }


.lock{
    color:#3B3B3B;
    position: relative;
    font-size: 150px;
}
  
.key{
    font-size: 143px;
    color: #B7B0DD;
    position: absolute;
    transform: rotate(-43deg);
    left:48.5%;
}

    h3{
        padding-top: 28.5px;
        padding-bottom: 35.5px;
        color: #B7B0DD;
    }


    form ::placeholder{
        color: #B7B0DD;
    }
    


#username{
    border: 2.5px solid #B7B0DD;
    border-radius: 25px;
    padding: 12px;
    margin-bottom: 20px;
    width:24em;
    font-size: 16px;
    padding-bottom: 15px;
  
  
}

#sendbtn{
    border: 2.5px solid #3B3B3B;
    border-radius: 25px;
    padding: 10px;
    width:24em;
    margin-bottom: 15%;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10.5px;
    color: white;
    background-color: #3B3B3B;
}


.footer_details{
    margin-top: 3.5%;
    color: #B7B0DD;
    padding-bottom: 60px;
  }

  .footer_details span{
    font-weight: bolder;
    border-bottom: 4.5px solid transparent;
  }

  .footer_details span:hover{
    
    border-bottom-color:#B7B0DD ;
  }
